{% include "header.html" %}

    <div class="currency-class" style="width: fit-content; margin-left: 550px; padding-top: 150px">
        <h2>{{ amount }} {{ fr_country }} is {{ converted }} {{ to_country }}</h2>
    </div>

    <div class="container-contact100-form-btn" style="padding-top: 30px">
        <a href="/"><button class="contact100-form-btn">
            <span>
                <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                 Home page
            </span>
        </button></a>
    </div>



{% include "footer.html" %}