{% include "header.html" %}


	<div class="container-contact100">

		<div class="wrap-contact100">
			<form class="contact100-form validate-form" method="post" action="/currency">
				<span class="contact100-form-title">
					convert my currency
				</span>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" name="fr_country" placeholder="From country code" autocomplete="off">
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" name="to_country" placeholder="To country code" autocomplete="off">
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" name="amount" placeholder="Amount" autocomplete="off">
				</div>


				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							convert
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>

{% include "footer.html" %}